<div class="container">
  <form class="form" [formGroup]="addTaskGroup">
    <div class="alignment" style="margin-top: 50px">
      <label>Project:</label>
      <input class="form-control form-control-sm rounded-0" placeholder="Please enter project name" formControlName="project">
      <button type="submit" class="btn  btn-primary float-right" style="text-align:center" (click)="searchProject()">Search Project</button>
    </div>
    <div class="alignment">
      <label>Task:</label>
      <input class="form-control form-control-sm rounded-0" placeholder="Please enter task name" formControlName="task">
    </div>
    <div class="alignment">
      <label>Parent Task:</label>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" formControlName="parentTaskCheckbox">
      </div>
    </div>
    <div class="alignment">
      <label>Priority<b>({{addTaskGroup.controls.priority.value}})</b></label>
      <div class="slidecontainer">
          <input type="range" min="1" max="100" value="50" class="slider" id="myRange" formControlName="priority">
      </div>
    </div>
    <div class="alignment">
      <label>Parent Task:</label>
      <input class="form-control form-control-sm rounded-0" placeholder="Please enter parent task number" [attr.disabled]="!isParentTaskEnabled() ? '' : null" formControlName="parentTask">
      <button type="submit" class="btn  btn-primary float-right" style="text-align:center" [disabled]="!isParentTaskEnabled()" (click)="searchParentTask()">Search Task</button>
    </div>
    <div class="alignment">
      <label>Start Date:</label>
      <input class="form-control form-control-sm rounded-0" placeholder="mm-dd-yyyy" formControlName="startDate">
      <span style="margin-right: 15px;"></span>
      <label>End Date:</label>
      <input class="form-control form-control-sm rounded-0" placeholder="mm-dd-yyyy" formControlName="endDate">
    </div>
    <div class="alignment">
      <label>User:</label>
      <input class="form-control form-control-sm rounded-0" placeholder="Please enter user name" formControlName="user">
      <button type="submit" class="btn  btn-primary  float-right" style="text-align:center" (click)="searchUser()">Search User</button>
    </div>
    <div>
      <button *ngIf="!isUpdatePage" type="submit" class="btn btn-primary float-right" style="text-align:center" (click)="reset()">Reset</button>
      <button *ngIf="!isUpdatePage" type="submit" class="btn btn-primary float-right" style="text-align:center" (click)="addTask()">Add Task</button>
    </div>
    <br><br>
    <div>
        <button *ngIf="isUpdatePage" type="submit" class="btn btn-primary float-right" style="text-align:center" (click)="cancel()">Cancel</button>
        <button  *ngIf="isUpdatePage" type="submit" class="btn btn-primary float-right" style="text-align:center" (click)="updateTask()">Update Task</button>
    </div>
  </form>
  <div *ngIf="show"  class="modal">
    <div *ngIf="isProjectSearched">
      <app-modal 
        [data]="modalProjectData" 
        [flag]="'isProjectSearched'"
        (projectName)="setProjectName($event)"
        (closFlag)="setShowFlag($event)"
      >
      </app-modal>
    </div>
    <div *ngIf="isUserSearched">
      <app-modal 
        [data]="modalUserData"
        [flag]="'isUserSearched'"
        (userName)="setUserName($event)"
        (closFlag)="setShowFlag($event)">
      </app-modal>
    </div>
    <div *ngIf="isParentTaskSearched">
      <app-modal 
        [data]="modalParentTaskData"
        [flag]="'isParentTaskSearched'"
        (taskName)="setTaskName($event)"
        (closFlag)="setShowFlag($event)">
      </app-modal>
    </div>
  </div>
</div>
