<div class="container">
  <div><form [formGroup]="useradd">
    <div class="row">
      <label>First Name:</label>
      <input class="form-control form-control-sm rounded-0"  type="text" placeholder="Please enter first name" formControlName="firstName" >
      <div *ngIf="useradd.controls['firstName'].invalid && useradd.controls['firstName'].errors.required && useradd.controls['firstName'].touched" class="alert alert-danger">First Name is required.</div>
    </div>
    <div class="row">
      <label>Last Name:</label>
      <input class="form-control form-control-sm rounded-0"  placeholder="Please enter last name" type="text" formControlName="lastName">
      <div *ngIf="useradd.controls['lastName'].invalid && useradd.controls['lastName'].errors.required && useradd.controls['lastName'].touched" class="alert alert-danger">Last Name is required</div>
    </div>
    <div class="row">
      <label>Employee ID:</label>
      <input class="form-control form-control-sm rounded-0"  type="text" placeholder="Please enter employee id" formControlName="employeeId">
      <div *ngIf="useradd.controls['employeeId'].invalid && useradd.controls['employeeId'].errors.required && useradd.controls['employeeId'].touched" class="alert alert-danger">Employee ID is required</div>
    </div>
    <div  *ngIf="!isEdit" class="row button"> 
      <button class="btn btn-primary float-right" (click)="signUp()">Add</button>
      <button class="btn btn-primary float-right reset" (click)="reset()">Reset</button>
    </div>
    <div class="row button" *ngIf="isEdit"> 
        <button class="btn btn-primary float-right" (click)="update()">Update</button>
        <button class="btn btn-primary float-right reset" (click)="cancel()">Cancel</button>
      </div>
  <hr>
  <div class="searchRow">
  <input class="form-control form-control-sm rounded-0"  type="text" (keyup)="searchOnChange()" placeholder="Search..." formControlName="search">
  <div class="sort">Sort: </div>
    <button class="btn btn-primary float-right" (click)="sortFirstName()">First Name</button>
    <button class="btn btn-primary float-right" (click)="sortLastName()">Last Name</button>
    <button class="btn btn-primary float-right" (click)="sortEmployeeId()">Employee Id</button>
  </div>
  <table>
      <tr>
          <td class="column"><label><b>First Name</b></label></td>
          <td class="column"><label><b>Last Name</b></label></td> 
          <td class="column"><label><b>Employee Id</b></label></td>
          <td class="column"></td>
          <td class="column"></td>
      </tr>
      <tr *ngFor="let user of users">
          <td class="column">{{user.firstName}}</td>
          <td class="column">{{user.lastName}}</td> 
          <td class="column">{{user.employeeId}}</td>
          <td class="column">  <button type="submit" class="btn  btn-primary float-right margin" style="text-align:center" (click)="editData(user)">Edit</button></td>
          <td class="column">  <button type="submit" class="btn  btn-primary float-right margin" style="text-align:center" (click)="delete(user.employeeId)">Delete</button></td>
      </tr>
  </table>  
</form>
</div>
</div>
